name: Code Quality

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  code-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v6

      - name: Install dependencies
        run: |
          npm ci || npm install

      - name: Run Prettier
        run: npx prettier --check "**/*.{js,ts,json,md,css,scss,html}" --exclude ".github/**"

      - name: Run ESLint
        run: npx eslint "src/**/*.{js,ts}" || true
